<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>print test</title>
</head>
<body> 
    <h3>this is first div</h3>
    <div class="pager"> 1st page lorem ipsum</div>
    <div class="break"></div>
    <h3> this is second page</h3>
    <div class="pager"> this is second page lorem ipsum</div>
</body>
<style>
    .break {
        page-break-before: always;
    }
    .pager {
        background-color: aquamarine
    }
    
</style>
</html>